{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Регистрация{% endblock %}

{% block inner_content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Регистрация</h4>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </form>
    </div>
</div>

<a href="{% url 'accounts:login' %}">Уже есть аккаунт</a>
<a href="{% url 'index' %}">На главную</a>
{% endblock %}